---
import { fetchPosts } from '../lib/wpApi.js';
import '../styles/global.css';

export async function getStaticPaths() {
  const perPage = 10;
  const { totalPages } = await fetchPosts(1, perPage);

  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: (i + 1).toString() },
  }));
}

export async function getStaticProps({ params }: { params: { page: string } }) {
  const currentPage = Number(params.page) || 1;
  const perPage = 10;
  const { posts, totalPages } = await fetchPosts(currentPage, perPage);

  return {
    props: { posts, totalPages, currentPage, perPage },
  };
}

const { page } = Astro.params;
const currentPage = Number(page) || 1;
const perPage = 10;
const { posts, totalPages } = await fetchPosts(currentPage, perPage);
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="/192.png" rel="icon" sizes="192x192" type="image/png">
  <link href="/180.png" rel="apple-touch-icon">
  <title>Daily கவிதைகள் - பக்கம் {currentPage}</title>
  <meta name="description" content=`Daily தமிழ் கவிதைகள் - பக்கம் ${currentPage}`>
  <link rel="canonical" href={`https://kavithai.searchquotes.quest/${currentPage}/`} />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>

  <section class="section">
    <div class="container">
      {posts.length > 0 ? (
        posts.map((post) => (
          <div class="card blog-card" data-id={post.id}>
            <div class="card-content">
              <div class="content post-content">
                <p set:html={post.content}></p>
                <a href={`/kavithai/${post.id}/`} class="button read-button is-small mt-5" data-astro-prefetch="tap">மேலும் படிக்க</a>
              </div>
            </div>
          </div>
        ))
      ) : (
        <div class="notification is-danger has-text-centered">
          எந்த கவிதைகளும் இல்லை.
        </div>
      )}

      <nav class="pagination-container">
        {currentPage > 1 && (
          <a href={`/${currentPage - 1}/`} class="button pagination-button is-small" data-astro-prefetch="tap">Previous</a>
        )}
        {posts.length > 0 && currentPage < totalPages && (
          <a href={`/${currentPage + 1}/`} class="button pagination-button is-small" data-astro-prefetch="tap">Next</a>
        )}
      </nav>
    </div>
  </section>

</body>
</html>