---
import { fetchPostById, getAllPostIds } from '../../lib/id.js';
import '../../styles/global.css';

interface Params {
  id: string;
}

export async function getStaticPaths() {
  const ids = await getAllPostIds();
  return ids.map((id) => ({ params: { id } }));
}

export async function getStaticProps({ params }: { params: Params }) {
  const post = await fetchPostById(params.id);

  if (!post) {
    return { notFound: true };
  }

  return { props: { post } };
}

const { id } = Astro.params;
const post = await fetchPostById(id);

if (!post) {
  throw new Error(`Post with ID ${id} not found.`);
}
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="/192.png" rel="icon" sizes="192x192" type="image/png">
  <link href="/180.png" rel="apple-touch-icon">
  <title>கவிதை {id}</title>
  <meta name="description" content=`கவிதை ${id} - தமிழ் கவிதைகள்`>
  <link rel="canonical" href={`https://kavithai.searchquotes.quest/kavithai/${id}/`} />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <section class="section">
    <div class="container">
      {post ? (
        <div class="card blog-card" data-id={post.id}>
        <button id="copy-button" class="is-small copy-btn">
        <i class="fas fa-copy"></i>
        </button>
        <br />
        <script>
          import { copyToClipboard } from '/src/scripts/copy.js';
          document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("copy-button")?.addEventListener("click", copyToClipboard);
        });
        </script>
          <div class="card-content">
            <div class="content post-content" id="quote-content">
              <p set:html={post.content}></p>
            </div>
          </div>
        </div>
      ) : (
        <div class="notification is-danger has-text-centered">
          கவிதை காணப்படவில்லை.
        </div>
      )}
    </div>
  </section>

</body>
</html>